{%extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <h1>Hi,{{ user }}</h1>
            {% for image in images %}
                <div class="card">
                    <div class="card-header">
                        {{ image.author }}
                    </div>
{#                    <div class="body">#}
                        <img src="{{  image.image.url}}" alt="">
{#                    </div>#}
                </div>
            {% endfor %}
    </div>

{% endblock %}