{%extends "base.html" %}
{% load bootstrap4 %}
{% load friendshiptags %}
{% load static %}
{% block content %}

            {% block styles %}
                {% bootstrap_css %}
                <link rel="stylesheet" href="{% static 'css/profile.css' %}">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ user.profile_photo.url }}" class="img-responsive" alt="">{{ image }}
            </div>
            <div class="col-md-8">
                <div class="row name">
                    <h1 class="username">{{ profile }}</h1><span class="follow"><a href="{% url 'follow' user_id=user.id %}"><button class="btn btn-primary">Follow{{ image.author }}</button></a></span>

                </div>
                <div class="row friendship">
                    <span class="follower"><p>{{ followers }} <strong>followers</strong></p></span>
                    <span class="following"><p>{{ following }} <strong>following</strong></p></span>
                </div>
                <div class="row">
                    <span class="profname"><strong>{{ profile }}</strong> : {{ user.bio }}</span>
                </div>
            </div>
        </div>

        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
            {% for image in images %}
                <div class="grid-item"></div>
            <img src="{{ image.image.url }}" alt="">
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{block.super}}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}
